@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&family=Shrikhand&display=swap");
*,
::before,
::after {
  box-sizing: border-box;
}

html body {
  margin: 0;
  padding: 0;
}

img {
  width: 39rem;
  height: 12rem;
  object-fit: cover;
}

body {
  font-family: "Roboto", sans-serif;
}

.header__logo {
  font-family: "Shrikhand", cursive;
}

.nav__reservation {
  font-size: 1.5rem;
}
.nav__discovery {
  font-weight: 300;
}
.nav__explorer {
  font-size: 1.1rem;
}

footer h3 {
  font-family: "Shrikhand", cursive;
  font-size: 1.2rem;
  font-weight: 800;
}

a {
  font-style: normal;
}

.container {
  padding-left: 2rem;
}

.headerpal__logo {
  font-family: "Shrikhand", cursive;
}
.headerpal__title {
  font-family: "Shrikhand", cursive;
  font-size: 1.5rem;
}
.headerpal__menu--heart {
  font-size: 1.5rem;
}

.arrow__left {
  font-size: 1.5rem;
}

.order {
  font-size: 1.1rem;
}

.nav__explorer {
  padding: 1rem 1.5rem 1rem 1.5rem;
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
  background-image: linear-gradient(to top, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9));
  border-radius: 3rem;
  text-decoration: none;
  color: white;
  cursor: pointer;
  transition: box-shadow 250ms;
}
.nav__explorer:hover {
  box-shadow: 7px 8px 17px -6px rgba(0, 0, 0, 0.99);
}

.order {
  width: 9.053rem;
  margin: auto;
  margin-top: 2rem;
  padding: 0.5rem;
  text-align: center;
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
  background-image: linear-gradient(to top, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9));
  border-radius: 3rem;
  text-decoration: none;
  color: white;
  cursor: pointer;
  transition: box-shadow 250ms;
}
.order:hover {
  box-shadow: 7px 8px 17px -6px rgba(0, 0, 0, 0.99);
}

.header__logo {
  text-align: center;
}
.header__paris {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background-color: #f3f3f3;
  box-shadow: inset 0px 8px 7px -8px rgba(0, 0, 0, 0.4);
  margin-bottom: 0;
}

.nav {
  text-align: center;
  background-color: #fafafa;
  padding-bottom: 2rem;
}
.nav__reservation {
  text-align: center;
  margin-top: 0;
  padding-top: 2rem;
}
.nav__discovery {
  text-align: center;
  margin-bottom: 2rem;
}

.tuto {
  padding: 0rem 20rem 0rem 20rem;
  counter-reset: steps;
}
@media (max-width: 320px) {
  .tuto {
    padding: 0;
  }
  .tuto__title {
    text-align: left;
  }
}
@media (max-width: 768px) {
  .tuto {
    padding: 0.3rem;
  }
}
@media (min-width: 1024px) and (max-width: 1440px) {
  .tuto {
    padding: 1rem;
  }
}
@media (width: 1440px) {
  .tuto {
    padding: 5rem;
  }
}
.tuto__bullet {
  display: flex;
  position: relative;
  gap: 2rem;
}
@media (max-width: 320px) {
  .tuto__bullet {
    flex-wrap: wrap;
    padding-left: 0.5rem;
  }
}
@media (max-width: 768px) {
  .tuto__bullet {
    flex-direction: column;
    padding-left: 0.5rem;
  }
}
.tuto__bullet--li {
  background-color: #f6f6f6;
  padding: 1.5rem;
  flex-grow: 1;
  border-radius: 1rem;
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.13);
  list-style-type: none;
}
.tuto__bullet li::before {
  content: counter(steps);
  counter-increment: steps;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
  transform: translateX(-2rem);
  color: white;
  background-color: #9356dc;
  border-radius: 50%;
}
.tuto__bullet i {
  margin-right: 1rem;
}

body {
  position: relative;
}

.ball {
  z-index: 2;
  position: absolute;
  animation: ball 1000ms;
  opacity: 1;
  top: 30%;
  left: 47%;
}

.restaurants {
  padding: 0rem 20rem 0rem 20rem;
  background-color: #f6f6f6;
  margin-left: 0;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
@media (max-width: 320px) {
  .restaurants {
    padding: 0;
    padding-left: 1rem;
  }
}
@media (min-width: 321px) and (max-width: 375px) {
  .restaurants {
    width: 25rem;
  }
}
@media (max-width: 768px) {
  .restaurants {
    padding-left: 0.5rem;
  }
}
@media (min-width: 1024px) and (max-width: 1440px) {
  .restaurants {
    padding: 1rem;
  }
}
@media (width: 1440px) {
  .restaurants {
    padding-left: 5rem;
  }
}
.restaurants__cards {
  display: grid;
  grid-template-columns: repeat(2, 39rem);
  grid-template-rows: repeat(2, 16.875rem);
  gap: 2rem;
}
@media (max-width: 320px) {
  .restaurants__cards {
    grid-template-columns: 18rem;
    grid-template-rows: repeat(4, 16.875rem);
  }
}
@media (max-width: 768px) {
  .restaurants__cards {
    grid-template-columns: 1fr;
  }
}
@media (min-width: 1024px) and (max-width: 1440px) {
  .restaurants__cards {
    grid-template-columns: repeat(2, 30rem);
  }
}
@media (width: 1440px) {
  .restaurants__cards {
    grid-template-columns: repeat(2, 39rem);
  }
}
.restaurants--palette {
  grid-column: 1/2;
  grid-row: 1/2;
}
@media (max-width: 320px) {
  .restaurants--palette {
    width: 100%;
    grid-column: 1/2;
    grid-row: 1/2;
  }
}
.restaurants--note {
  grid-column: 2/3;
  grid-row: 1/2;
}
@media (max-width: 320px) {
  .restaurants--note {
    width: 18rem;
    grid-column: 1/2;
    grid-row: 1/2;
  }
}
.restaurants--france {
  grid-column: 1/2;
  grid-row: 2/3;
}
@media (max-width: 320px) {
  .restaurants--france {
    width: 18rem;
    grid-column: 1/2;
    grid-row: 1/2;
  }
}
.restaurants--sens {
  grid-column: 2/3;
  grid-row: 2/3;
}
@media (max-width: 320px) {
  .restaurants--sens {
    width: 18rem;
    grid-column: 1/2;
    grid-row: 1/2;
  }
}
.restaurants__cards--link {
  cursor: pointer;
  text-decoration: none;
  color: black;
}
.restaurants i {
  position: absolute;
  font-size: 2rem;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
}
.restaurants h3 {
  margin-bottom: 0.2rem;
  margin-top: 0rem;
  padding-top: 0.5rem;
}
.restaurants p {
  margin-top: 0;
}
.restaurants__cards--text {
  position: relative;
  width: 39rem;
  height: 4.875rem;
  background-color: white;
  padding-left: 1rem;
  border-radius: 0 0 1rem 1rem;
}
@media (max-width: 320px) {
  .restaurants__cards--text {
    width: 18rem;
  }
}
@media (min-width: 321px) and (max-width: 375px) {
  .restaurants__cards--text {
    width: 23.438rem;
  }
}
@media (min-width: 376px) and (max-width: 425px) {
  .restaurants__cards--text {
    width: 25rem;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .restaurants__cards--text {
    width: 46rem;
  }
}
@media (min-width: 1024px) and (max-width: 1440px) {
  .restaurants__cards--text {
    width: 30rem;
  }
}
@media (width: 1440px) {
  .restaurants__cards--text {
    width: 39rem;
  }
}
.restaurants__cards--text .fa-solid {
  color: transparent;
  background-color: white;
  background-image: linear-gradient(to top, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9));
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
  transition: all 250ms ease-in-out;
}
.restaurants__cards--text .fa-solid:hover {
  opacity: 1;
}
.restaurants img {
  border-radius: 1rem 1rem 0 0;
}
@media (max-width: 320px) {
  .restaurants img {
    width: 18rem;
    border-radius: 1rem 1rem 0 0;
  }
}
@media (min-width: 321px) and (max-width: 375px) {
  .restaurants img {
    width: 23.438rem;
  }
}
@media (min-width: 376px) and (max-width: 767px) {
  .restaurants img {
    width: 25rem;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .restaurants img {
    width: 46rem;
  }
}
@media (min-width: 1024px) and (max-width: 1440px) {
  .restaurants img {
    width: 30rem;
  }
}
@media (width: 1440px) {
  .restaurants img {
    width: 39rem;
  }
}

.restaurants__cards--palette, .restaurants__cards--note {
  position: relative;
}

.flash {
  position: absolute;
  padding: 0.5rem;
  background-color: #99e2d0;
  left: 86%;
  top: 6%;
  color: #1b6150;
}
@media (max-width: 320px) {
  .flash {
    left: 64%;
  }
}
@media (min-width: 321px) and (max-width: 424px) {
  .flash {
    left: 75%;
  }
}
@media (width: 425px) {
  .flash {
    left: 75%;
  }
}
@media (min-width: 1024px) and (max-width: 1440px) {
  .flash {
    left: 80%;
  }
}
@media (min-width: 1440px) {
  .flash {
    left: 85%;
  }
}

.loader {
  position: fixed;
  background-color: #ffffff;
  height: 100vh;
  inset: 0;
  z-index: 1;
  opacity: 0.9;
  animation: body 200ms 3000ms forwards;
  transform-origin: top;
}

footer {
  background-color: #353535;
  height: 12rem;
}
footer h3 {
  color: white;
}
footer a {
  color: white;
  display: flex;
  flex-direction: column;
  align-content: space-evenly;
  text-decoration: none;
  margin-bottom: 0.5rem;
}
footer a i {
  margin-right: 0.1rem;
}
footer .container {
  padding: 0rem 20rem 0rem 20rem;
  padding-top: 0.2rem;
  margin-bottom: 0.5rem;
}
@media (max-width: 320px) {
  footer .container {
    padding: 0.1rem;
    margin-left: 0.5rem;
    margin-top: 2rem;
  }
}
@media (max-width: 768px) {
  footer .container {
    padding: 0.1rem;
    margin-left: 2rem;
  }
}
@media (min-width: 1024px) and (max-width: 1440px) {
  footer .container {
    padding: 1rem;
  }
}
@media (width: 1440px) {
  footer .container {
    padding-left: 13.5rem;
  }
}

@keyframes wave {
  0% {
    transform: scale(0);
  }
  75% {
    transform: scale(1);
  }
  85% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes ball {
  0% {
    transform: translateY(0%);
    opacity: 1;
  }
  100% {
    transform: translateY(100%);
    opacity: 1;
  }
}
@keyframes body {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
.ball {
  display: flex;
  justify-content: space-around;
  width: 6rem;
}
.ball__rebound {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  animation: ball 500ms both infinite ease-in-out alternate;
}
.ball__rebound--1 {
  animation-delay: 350ms;
}
.ball__rebound--2 {
  animation-delay: 1900ms;
}
.ball__rebound--3 {
  animation-delay: 1815ms;
}
.ball__rebound--1 {
  background-color: #9356DC;
}
.ball__rebound--2 {
  background-color: #FF79DA;
}
.ball__rebound--3 {
  background-color: #99E2D0;
}

.arrow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: black;
}
.arrow__title {
  width: 55%;
}
@media (max-width: 320px) {
  .arrow__title {
    width: 70%;
  }
}
.arrow__left {
  padding-left: 3rem;
}
@media (max-width: 320px) {
  .arrow__left {
    padding-left: 2rem;
  }
}
@media (max-width: 375px) {
  .arrow {
    width: 60%;
  }
}
@media (max-width: 425px) {
  .arrow {
    width: 60%;
  }
}
@media (max-width: 768px) {
  .arrow {
    width: 80%;
  }
}

.box {
  position: relative;
  width: 82rem;
  margin: auto;
}
@media (max-width: 320px) {
  .box {
    width: 20rem;
  }
}
@media (min-width: 321px) and (max-width: 424px) {
  .box {
    width: 23.5rem;
  }
}
@media (min-width: 425px) and (max-width: 767px) {
  .box {
    width: 26.563rem;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .box {
    width: 48rem;
  }
}
@media (min-width: 1024px) and (max-width: 1440px) {
  .box {
    width: 64rem;
  }
}

.headerpal {
  position: absolute;
  bottom: 87%;
  left: 0%;
  width: 82rem;
  background-color: #F6F6F6;
  border-radius: 3rem 3rem 0 0;
}
@media (max-width: 320px) {
  .headerpal {
    width: 20rem;
  }
}
@media (min-width: 321px) and (max-width: 424px) {
  .headerpal {
    width: 23.5rem;
  }
}
@media (min-width: 425px) and (max-width: 767px) {
  .headerpal {
    width: 26.563rem;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .headerpal {
    width: 48rem;
  }
}
@media (min-width: 1024px) and (max-width: 1440px) {
  .headerpal {
    width: 64rem;
  }
}
.headerpal__image {
  width: 100%;
  max-width: 100%;
  height: 32rem;
  background-size: cover;
}
@media (max-width: 320px) {
  .headerpal__image {
    width: 100%;
    height: 13.34rem;
  }
}
@media (min-width: 321px) and (max-width: 767px) {
  .headerpal__image {
    width: 100%;
    height: 100%;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .headerpal__image {
    width: 48rem;
    height: 32rem;
  }
}
.headerpal__menu {
  padding: 3rem;
  padding-top: 0.6rem;
}
.headerpal__menu .fa-solid {
  color: transparent;
  background-color: white;
  background-image: linear-gradient(to top, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9));
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
  transition: all 250ms ease-in-out;
}
.headerpal__menu .fa-solid:hover {
  opacity: 1;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .headerpal__menu {
    width: 48rem;
  }
}
.headerpal__menu .headerpal__title {
  position: absolute;
  left: 2%;
  width: 14rem;
  margin-bottom: 0;
}
.headerpal__menu .header__title--note {
  width: 15rem;
}
.headerpal__menu i {
  position: absolute;
  font-size: 2rem;
  right: 3%;
  top: 60%;
}

.menu_title {
  font-weight: normal;
  position: relative;
  padding-bottom: 2rem;
}

.menu_title:after {
  content: "";
  width: 3rem;
  height: 0.25rem;
  background-color: #99E2D0;
  position: absolute;
  left: 0;
  bottom: 0;
}

.menu {
  display: grid;
  grid-template-columns: repeat(3, 25rem);
  grid-template-rows: 3.5rem 17rem;
  gap: 2rem;
  row-gap: 1rem;
  width: 82rem;
  margin: auto;
  padding: 1.5rem;
  background-color: #F6F6F6;
  padding-bottom: 3rem;
}
@media (max-width: 320px) {
  .menu {
    width: 100%;
    grid-template-columns: 20rem;
    grid-template-rows: 2.25rem 1fr 2.25rem 1fr 2.25rem 1fr 2.25rem;
    padding-left: 1rem;
  }
}
@media (min-width: 321px) and (max-width: 424px) {
  .menu {
    width: 100%;
    grid-template-columns: 100%;
  }
}
@media (min-width: 425px) and (max-width: 767px) {
  .menu {
    width: 100%;
    grid-template-columns: 100%;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .menu {
    width: 44rem;
    grid-template-columns: 100%;
    grid-template-rows: 2.25rem 1fr 2.25rem 1fr 2.25rem 1fr 2.25rem;
    padding-left: 1rem;
  }
}
@media (min-width: 1024px) and (max-width: 1440px) {
  .menu {
    width: 64rem;
    grid-template-columns: repeat(3, 19rem);
    grid-template-rows: 3.5rem 17rem 3rem;
  }
}
@media (max-width: 320px) {
  .menu .menu__card {
    width: 18rem;
    margin-top: 1rem;
    grid-template-columns: 12.5rem 2rem 2.5rem;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .menu .menu__card {
    width: 42rem;
    grid-template: 20rem 4rem 4.5rem;
  }
}
@media (min-width: 1024px) and (max-width: 1440px) {
  .menu .menu__card {
    width: 20rem;
    grid-template-columns: 10rem 2rem 5.5rem;
  }
}
@media (max-width: 320px) {
  .menu .menu__card--title {
    width: 18rem;
  }
}
@media (max-width: 320px) {
  .menu .menu__card--trimming {
    width: 13rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
@media (min-width: 321px) and (max-width: 767px) {
  .menu .menu__card--trimming {
    width: 13rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
@media (min-width: 1024px) and (max-width: 1440px) {
  .menu .menu__card--trimming {
    width: 15rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
.menu .menu__card--price {
  font-weight: bold;
}
.menu__title1 {
  grid-column: 1/2;
  grid-row: 1/2;
}
@media (max-width: 320px) {
  .menu__title1 {
    width: 20rem;
    grid-column: 1/2;
    grid-row: 1/2;
  }
}
@media (max-width: 375px) {
  .menu__title1 {
    width: 20rem;
    grid-column: 1/2;
    grid-row: 1/2;
  }
}
.menu__appetizer {
  grid-column: 1/2;
  grid-row: 2/3;
}
@media (max-width: 320px) {
  .menu__appetizer {
    width: 20rem;
    grid-column: 1/2;
    grid-row: 2/3;
  }
}
.menu__appetizer--card1 {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: repeat(2, 1.188rem);
  padding: 1rem;
  padding-right: 0;
  align-items: center;
  border-radius: 1rem;
  background-color: white;
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.13);
  overflow: hidden;
  cursor: pointer;
  margin-bottom: 1rem;
}
@media (max-width: 768px) and (max-width: 1023px) {
  .menu__appetizer--card1 {
    grid-template-columns: 2fr 4.5rem 0rem;
  }
}
@media (min-width: 321px) and (max-width: 767px) {
  .menu__appetizer--card1 {
    grid-template-columns: 50% 45% 0;
    width: 100%;
  }
}
@media (min-width: 1024px) and (max-width: 1440px) {
  .menu__appetizer--card1 {
    grid-template-columns: 50% 45% 0;
    width: 100%;
  }
}
.menu__appetizer--card2 {
  margin-bottom: 1rem;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: repeat(2, 1.188rem);
  padding: 1rem;
  padding-right: 0;
  align-items: center;
  border-radius: 1rem;
  background-color: white;
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.13);
  overflow: hidden;
  cursor: pointer;
}
@media (max-width: 768px) and (max-width: 1023px) {
  .menu__appetizer--card2 {
    grid-template-columns: 2fr 4.5rem 0rem;
  }
}
@media (min-width: 321px) and (max-width: 767px) {
  .menu__appetizer--card2 {
    grid-template-columns: 50% 45% 0;
    width: 100%;
  }
}
@media (min-width: 1024px) and (max-width: 1440px) {
  .menu__appetizer--card2 {
    grid-template-columns: 50% 45% 0;
    width: 100%;
  }
}
.menu__appetizer--card3 {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: repeat(2, 1.188rem);
  padding: 1rem;
  padding-right: 0;
  align-items: center;
  border-radius: 1rem;
  background-color: white;
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.13);
  overflow: hidden;
  cursor: pointer;
}
@media (max-width: 768px) and (max-width: 1023px) {
  .menu__appetizer--card3 {
    grid-template-columns: 2fr 4.5rem 0rem;
  }
}
@media (min-width: 321px) and (max-width: 767px) {
  .menu__appetizer--card3 {
    grid-template-columns: 50% 45% 0;
    width: 100%;
  }
}
@media (min-width: 1024px) and (max-width: 1440px) {
  .menu__appetizer--card3 {
    grid-template-columns: 50% 45% 0;
    width: 100%;
  }
}
.menu__appetizer--trimming {
  width: 294px;
}
.menu__appetizer--price {
  width: 10px;
}
.menu__title2 {
  grid-column: 2/3;
  grid-row: 1/2;
}
@media (max-width: 320px) {
  .menu__title2 {
    width: 20rem;
    grid-column: 1/2;
    grid-row: 3/4;
  }
}
@media (max-width: 375px) {
  .menu__title2 {
    grid-column: 1/2;
    grid-row: 3/4;
  }
}
@media (max-width: 425px) {
  .menu__title2 {
    grid-column: 1/2;
    grid-row: 3/4;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .menu__title2 {
    grid-column: 1/2;
    grid-row: 3/4;
  }
}
@media (min-width: 1024px) and (max-width: 1440px) {
  .menu__title2 {
    grid-column: 2/3;
    grid-row: 1/2;
  }
}
.menu__dish {
  grid-column: 2/3;
  grid-row: 2/3;
}
@media (max-width: 320px) {
  .menu__dish {
    width: 20rem;
    grid-column: 1/2;
    grid-row: 4/5;
  }
}
@media (max-width: 375px) {
  .menu__dish {
    grid-column: 1/2;
    grid-row: 4/5;
  }
}
@media (max-width: 425px) {
  .menu__dish {
    grid-column: 1/2;
    grid-row: 4/5;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .menu__dish {
    grid-column: 1/2;
    grid-row: 4/5;
  }
}
@media (min-width: 1024px) and (max-width: 1440px) {
  .menu__dish {
    grid-column: 2/3;
    grid-row: 2/3;
  }
}
.menu__dish--card1 {
  margin-bottom: 1rem;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: repeat(2, 1.188rem);
  padding: 1rem;
  padding-right: 0;
  align-items: center;
  border-radius: 1rem;
  background-color: white;
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.13);
  overflow: hidden;
  cursor: pointer;
}
@media (max-width: 768px) and (max-width: 1023px) {
  .menu__dish--card1 {
    grid-template-columns: 2fr 4.5rem 0rem;
  }
}
@media (min-width: 321px) and (max-width: 767px) {
  .menu__dish--card1 {
    grid-template-columns: 50% 45% 0;
    width: 100%;
  }
}
@media (min-width: 1024px) and (max-width: 1440px) {
  .menu__dish--card1 {
    grid-template-columns: 50% 45% 0;
    width: 100%;
  }
}
.menu__dish--trimming {
  width: 305px;
}
.menu__dish--price {
  width: 5px;
}
.menu__dish--card2 {
  margin-bottom: 1rem;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: repeat(2, 1.188rem);
  padding: 1rem;
  padding-right: 0;
  align-items: center;
  border-radius: 1rem;
  background-color: white;
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.13);
  overflow: hidden;
  cursor: pointer;
}
@media (max-width: 768px) and (max-width: 1023px) {
  .menu__dish--card2 {
    grid-template-columns: 2fr 4.5rem 0rem;
  }
}
@media (min-width: 321px) and (max-width: 767px) {
  .menu__dish--card2 {
    grid-template-columns: 50% 45% 0;
    width: 100%;
  }
}
@media (min-width: 1024px) and (max-width: 1440px) {
  .menu__dish--card2 {
    grid-template-columns: 50% 45% 0;
    width: 100%;
  }
}
.menu__dish--card3 {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: repeat(2, 1.188rem);
  padding: 1rem;
  padding-right: 0;
  align-items: center;
  border-radius: 1rem;
  background-color: white;
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.13);
  overflow: hidden;
  cursor: pointer;
}
@media (max-width: 768px) and (max-width: 1023px) {
  .menu__dish--card3 {
    grid-template-columns: 2fr 4.5rem 0rem;
  }
}
@media (min-width: 321px) and (max-width: 767px) {
  .menu__dish--card3 {
    grid-template-columns: 50% 45% 0;
    width: 100%;
  }
}
@media (min-width: 1024px) and (max-width: 1440px) {
  .menu__dish--card3 {
    grid-template-columns: 50% 45% 0;
    width: 100%;
  }
}
.menu__title3 {
  grid-column: 3/4;
  grid-row: 1/2;
}
@media (max-width: 320px) {
  .menu__title3 {
    width: 20rem;
    grid-column: 1/2;
    grid-row: 5/6;
  }
}
@media (max-width: 375px) {
  .menu__title3 {
    grid-column: 1/2;
    grid-row: 5/6;
  }
}
@media (max-width: 425px) {
  .menu__title3 {
    grid-column: 1/2;
    grid-row: 5/6;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .menu__title3 {
    grid-column: 1/2;
    grid-row: 5/6;
  }
}
@media (min-width: 1024px) and (max-width: 1440px) {
  .menu__title3 {
    grid-column: 3/4;
    grid-row: 1/2;
  }
}
.menu__dessert {
  grid-column: 3/4;
  grid-row: 2/3;
}
@media (max-width: 320px) {
  .menu__dessert {
    width: 20rem;
    grid-column: 1/2;
    grid-row: 6/7;
  }
}
@media (max-width: 375px) {
  .menu__dessert {
    grid-column: 1/2;
    grid-row: 6/7;
  }
}
@media (max-width: 425px) {
  .menu__dessert {
    grid-column: 1/2;
    grid-row: 6/7;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .menu__dessert {
    grid-column: 1/2;
    grid-row: 6/7;
  }
}
@media (min-width: 1024px) and (max-width: 1440px) {
  .menu__dessert {
    grid-column: 3/4;
    grid-row: 2/3;
  }
}
.menu__dessert--card1 {
  margin-bottom: 1rem;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: repeat(2, 1.188rem);
  padding: 1rem;
  padding-right: 0;
  align-items: center;
  border-radius: 1rem;
  background-color: white;
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.13);
  overflow: hidden;
  cursor: pointer;
}
@media (max-width: 768px) and (max-width: 1023px) {
  .menu__dessert--card1 {
    grid-template-columns: 2fr 4.5rem 0rem;
  }
}
@media (min-width: 321px) and (max-width: 767px) {
  .menu__dessert--card1 {
    grid-template-columns: 50% 45% 0;
    width: 100%;
  }
}
@media (min-width: 1024px) and (max-width: 1440px) {
  .menu__dessert--card1 {
    grid-template-columns: 50% 45% 0;
    width: 100%;
  }
}
.menu__dessert--trimming {
  width: 294px;
}
.menu__dessert--price {
  width: 5px;
}
.menu__dessert--card2 {
  margin-bottom: 1rem;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: repeat(2, 1.188rem);
  padding: 1rem;
  padding-right: 0;
  align-items: center;
  border-radius: 1rem;
  background-color: white;
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.13);
  overflow: hidden;
  cursor: pointer;
}
@media (max-width: 768px) and (max-width: 1023px) {
  .menu__dessert--card2 {
    grid-template-columns: 2fr 4.5rem 0rem;
  }
}
@media (min-width: 321px) and (max-width: 767px) {
  .menu__dessert--card2 {
    grid-template-columns: 50% 45% 0;
    width: 100%;
  }
}
@media (min-width: 1024px) and (max-width: 1440px) {
  .menu__dessert--card2 {
    grid-template-columns: 50% 45% 0;
    width: 100%;
  }
}
.menu__dessert--card3 {
  padding-right: 0;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: repeat(2, 1.188rem);
  padding: 1rem;
  padding-right: 0;
  align-items: center;
  border-radius: 1rem;
  background-color: white;
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.13);
  overflow: hidden;
  cursor: pointer;
}
@media (max-width: 768px) and (max-width: 1023px) {
  .menu__dessert--card3 {
    grid-template-columns: 2fr 4.5rem 0rem;
  }
}
@media (min-width: 321px) and (max-width: 767px) {
  .menu__dessert--card3 {
    grid-template-columns: 50% 45% 0;
    width: 100%;
  }
}
@media (min-width: 1024px) and (max-width: 1440px) {
  .menu__dessert--card3 {
    grid-template-columns: 50% 45% 0;
    width: 100%;
  }
}
.menu .order {
  grid-column: 2/3;
  grid-row: 3/4;
  margin-top: 0.5rem;
}
@media (max-width: 320px) {
  .menu .order {
    margin-top: 2rem;
    width: 10rem;
    margin-right: 6rem;
    grid-column: 1/2;
    grid-row: 7/8;
  }
}
@media (max-width: 375px) {
  .menu .order {
    margin-top: 2rem;
    grid-column: 1/2;
    grid-row: 7/8;
  }
}
@media (max-width: 425px) {
  .menu .order {
    margin-top: 2rem;
    grid-column: 1/2;
    grid-row: 7/8;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .menu .order {
    margin-top: 2.5rem;
    grid-column: 1/2;
    grid-row: 7/8;
  }
}
@media (min-width: 1024px) and (max-width: 1440px) {
  .menu .order {
    margin-top: 0.5rem;
    grid-column: 2/3;
    grid-row: 3/4;
  }
}

.menu {
  display: grid;
  grid-template-columns: repeat(3, 25rem);
  grid-template-rows: 3.5rem 17rem 3.5rem;
  gap: 2rem;
  row-gap: 1rem;
  width: 82rem;
  margin: auto;
  padding: 1.5rem;
  background-color: #F6F6F6;
  padding-bottom: 3rem;
}
@media (max-width: 320px) {
  .menu {
    width: 100%;
    grid-template-columns: 20rem;
    grid-template-rows: 2.25rem 20rem 2.25rem 1fr 2.25rem 1fr 2.25rem;
    padding-left: 1rem;
  }
}
@media (min-width: 321px) and (max-width: 424px) {
  .menu {
    width: 100%;
    grid-template-columns: 100%;
  }
}
@media (min-width: 425px) and (max-width: 767px) {
  .menu {
    width: 100%;
    grid-template-columns: 100%;
    grid-template-rows: 3.5rem 20rem 3.5rem 1fr 3.5rem 1fr 3.5rem;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .menu {
    width: 44rem;
    grid-template-columns: 100%;
    grid-template-rows: 3.5rem 1fr 3.5rem 15rem 3.5rem 15rem 5rem;
    padding-left: 1rem;
  }
}
@media (min-width: 1024px) and (max-width: 1440px) {
  .menu {
    width: 64rem;
    grid-template-columns: repeat(3, 19rem);
    grid-template-rows: 3.5rem 17rem 3rem;
  }
}
@media (max-width: 320px) {
  .menu .menu__card {
    width: 18rem;
    margin-top: 1rem;
    grid-template-columns: 12.5rem 2rem 2.5rem;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .menu .menu__card {
    width: 42rem;
    grid-template: 20rem 4rem 4.5rem;
  }
}
@media (min-width: 1024px) and (max-width: 1440px) {
  .menu .menu__card {
    width: 20rem;
    grid-template-columns: 10rem 2rem 5.5rem;
  }
}
@media (max-width: 320px) {
  .menu .menu__card--title {
    width: 18rem;
  }
}
@media (max-width: 320px) {
  .menu .menu__card--trimming {
    width: 13rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
@media (min-width: 321px) and (max-width: 767px) {
  .menu .menu__card--trimming {
    width: 13rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
@media (min-width: 1024px) and (max-width: 1440px) {
  .menu .menu__card--trimming {
    width: 15rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
.menu .menu__card--price {
  font-weight: bold;
}
.menu__title1 {
  grid-column: 1/2;
  grid-row: 1/2;
}
@media (max-width: 320px) {
  .menu__title1 {
    width: 20rem;
    grid-column: 1/2;
    grid-row: 1/2;
  }
}
@media (max-width: 375px) {
  .menu__title1 {
    width: 20rem;
    grid-column: 1/2;
    grid-row: 1/2;
  }
}
.menu__appetizer {
  grid-column: 1/2;
  grid-row: 2/3;
}
@media (max-width: 320px) {
  .menu__appetizer {
    width: 20rem;
    grid-column: 1/2;
    grid-row: 2/3;
  }
}
.menu__appetizer--card1 {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: repeat(2, 1.188rem);
  padding: 1rem;
  padding-right: 0;
  align-items: center;
  border-radius: 1rem;
  background-color: white;
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.13);
  overflow: hidden;
  cursor: pointer;
  margin-bottom: 1rem;
}
@media (max-width: 768px) and (max-width: 1023px) {
  .menu__appetizer--card1 {
    grid-template-columns: 2fr 4.5rem 0rem;
  }
}
@media (min-width: 321px) and (max-width: 767px) {
  .menu__appetizer--card1 {
    grid-template-columns: 50% 45% 0;
    width: 100%;
  }
}
@media (min-width: 1024px) and (max-width: 1440px) {
  .menu__appetizer--card1 {
    grid-template-columns: 50% 45% 0;
    width: 100%;
  }
}
.menu__appetizer--card2 {
  margin-bottom: 1rem;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: repeat(2, 1.188rem);
  padding: 1rem;
  padding-right: 0;
  align-items: center;
  border-radius: 1rem;
  background-color: white;
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.13);
  overflow: hidden;
  cursor: pointer;
}
@media (max-width: 768px) and (max-width: 1023px) {
  .menu__appetizer--card2 {
    grid-template-columns: 2fr 4.5rem 0rem;
  }
}
@media (min-width: 321px) and (max-width: 767px) {
  .menu__appetizer--card2 {
    grid-template-columns: 50% 45% 0;
    width: 100%;
  }
}
@media (min-width: 1024px) and (max-width: 1440px) {
  .menu__appetizer--card2 {
    grid-template-columns: 50% 45% 0;
    width: 100%;
  }
}
.menu__appetizer--card3 {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: repeat(2, 1.188rem);
  padding: 1rem;
  padding-right: 0;
  align-items: center;
  border-radius: 1rem;
  background-color: white;
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.13);
  overflow: hidden;
  cursor: pointer;
  margin-bottom: 1rem;
}
@media (max-width: 768px) and (max-width: 1023px) {
  .menu__appetizer--card3 {
    grid-template-columns: 2fr 4.5rem 0rem;
  }
}
@media (min-width: 321px) and (max-width: 767px) {
  .menu__appetizer--card3 {
    grid-template-columns: 50% 45% 0;
    width: 100%;
  }
}
@media (min-width: 1024px) and (max-width: 1440px) {
  .menu__appetizer--card3 {
    grid-template-columns: 50% 45% 0;
    width: 100%;
  }
}
.menu__appetizer--card4 {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: repeat(2, 1.188rem);
  padding: 1rem;
  padding-right: 0;
  align-items: center;
  border-radius: 1rem;
  background-color: white;
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.13);
  overflow: hidden;
  cursor: pointer;
}
@media (max-width: 768px) and (max-width: 1023px) {
  .menu__appetizer--card4 {
    grid-template-columns: 2fr 4.5rem 0rem;
  }
}
@media (min-width: 321px) and (max-width: 767px) {
  .menu__appetizer--card4 {
    grid-template-columns: 50% 45% 0;
    width: 100%;
  }
}
@media (min-width: 1024px) and (max-width: 1440px) {
  .menu__appetizer--card4 {
    grid-template-columns: 50% 45% 0;
    width: 100%;
  }
}
.menu__appetizer--trimming {
  width: 294px;
}
.menu__appetizer--price {
  width: 10px;
}
.menu__title2 {
  grid-column: 2/3;
  grid-row: 1/2;
}
@media (max-width: 320px) {
  .menu__title2 {
    width: 20rem;
    grid-column: 1/2;
    grid-row: 3/4;
  }
}
@media (max-width: 375px) {
  .menu__title2 {
    grid-column: 1/2;
    grid-row: 3/4;
  }
}
@media (max-width: 425px) {
  .menu__title2 {
    grid-column: 1/2;
    grid-row: 3/4;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .menu__title2 {
    grid-column: 1/2;
    grid-row: 3/4;
  }
}
@media (min-width: 1024px) and (max-width: 1440px) {
  .menu__title2 {
    grid-column: 2/3;
    grid-row: 1/2;
  }
}
.menu__dish {
  grid-column: 2/3;
  grid-row: 2/3;
}
@media (max-width: 320px) {
  .menu__dish {
    width: 20rem;
    grid-column: 1/2;
    grid-row: 4/5;
  }
}
@media (max-width: 375px) {
  .menu__dish {
    grid-column: 1/2;
    grid-row: 4/5;
  }
}
@media (max-width: 425px) {
  .menu__dish {
    grid-column: 1/2;
    grid-row: 4/5;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .menu__dish {
    grid-column: 1/2;
    grid-row: 4/5;
  }
}
@media (min-width: 1024px) and (max-width: 1440px) {
  .menu__dish {
    grid-column: 2/3;
    grid-row: 2/3;
  }
}
.menu__dish--card1 {
  margin-bottom: 1rem;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: repeat(2, 1.188rem);
  padding: 1rem;
  padding-right: 0;
  align-items: center;
  border-radius: 1rem;
  background-color: white;
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.13);
  overflow: hidden;
  cursor: pointer;
}
@media (max-width: 768px) and (max-width: 1023px) {
  .menu__dish--card1 {
    grid-template-columns: 2fr 4.5rem 0rem;
  }
}
@media (min-width: 321px) and (max-width: 767px) {
  .menu__dish--card1 {
    grid-template-columns: 50% 45% 0;
    width: 100%;
  }
}
@media (min-width: 1024px) and (max-width: 1440px) {
  .menu__dish--card1 {
    grid-template-columns: 50% 45% 0;
    width: 100%;
  }
}
.menu__dish--trimming {
  width: 305px;
}
.menu__dish--price {
  width: 5px;
}
.menu__dish--card2 {
  margin-bottom: 1rem;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: repeat(2, 1.188rem);
  padding: 1rem;
  padding-right: 0;
  align-items: center;
  border-radius: 1rem;
  background-color: white;
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.13);
  overflow: hidden;
  cursor: pointer;
}
@media (max-width: 768px) and (max-width: 1023px) {
  .menu__dish--card2 {
    grid-template-columns: 2fr 4.5rem 0rem;
  }
}
@media (min-width: 321px) and (max-width: 767px) {
  .menu__dish--card2 {
    grid-template-columns: 50% 45% 0;
    width: 100%;
  }
}
@media (min-width: 1024px) and (max-width: 1440px) {
  .menu__dish--card2 {
    grid-template-columns: 50% 45% 0;
    width: 100%;
  }
}
.menu__dish--card3 {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: repeat(2, 1.188rem);
  padding: 1rem;
  padding-right: 0;
  align-items: center;
  border-radius: 1rem;
  background-color: white;
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.13);
  overflow: hidden;
  cursor: pointer;
}
@media (max-width: 768px) and (max-width: 1023px) {
  .menu__dish--card3 {
    grid-template-columns: 2fr 4.5rem 0rem;
  }
}
@media (min-width: 321px) and (max-width: 767px) {
  .menu__dish--card3 {
    grid-template-columns: 50% 45% 0;
    width: 100%;
  }
}
@media (min-width: 1024px) and (max-width: 1440px) {
  .menu__dish--card3 {
    grid-template-columns: 50% 45% 0;
    width: 100%;
  }
}
.menu__title3 {
  grid-column: 3/4;
  grid-row: 1/2;
}
@media (max-width: 320px) {
  .menu__title3 {
    width: 20rem;
    grid-column: 1/2;
    grid-row: 5/6;
  }
}
@media (max-width: 375px) {
  .menu__title3 {
    grid-column: 1/2;
    grid-row: 5/6;
  }
}
@media (max-width: 425px) {
  .menu__title3 {
    grid-column: 1/2;
    grid-row: 5/6;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .menu__title3 {
    grid-column: 1/2;
    grid-row: 5/6;
  }
}
@media (min-width: 1024px) and (max-width: 1440px) {
  .menu__title3 {
    grid-column: 3/4;
    grid-row: 1/2;
  }
}
.menu__dessert {
  grid-column: 3/4;
  grid-row: 2/3;
}
@media (max-width: 320px) {
  .menu__dessert {
    width: 20rem;
    grid-column: 1/2;
    grid-row: 6/7;
  }
}
@media (max-width: 375px) {
  .menu__dessert {
    grid-column: 1/2;
    grid-row: 6/7;
  }
}
@media (max-width: 425px) {
  .menu__dessert {
    grid-column: 1/2;
    grid-row: 6/7;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .menu__dessert {
    grid-column: 1/2;
    grid-row: 6/7;
  }
}
@media (min-width: 1024px) and (max-width: 1440px) {
  .menu__dessert {
    grid-column: 3/4;
    grid-row: 2/3;
  }
}
.menu__dessert--card1 {
  margin-bottom: 1rem;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: repeat(2, 1.188rem);
  padding: 1rem;
  padding-right: 0;
  align-items: center;
  border-radius: 1rem;
  background-color: white;
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.13);
  overflow: hidden;
  cursor: pointer;
}
@media (max-width: 768px) and (max-width: 1023px) {
  .menu__dessert--card1 {
    grid-template-columns: 2fr 4.5rem 0rem;
  }
}
@media (min-width: 321px) and (max-width: 767px) {
  .menu__dessert--card1 {
    grid-template-columns: 50% 45% 0;
    width: 100%;
  }
}
@media (min-width: 1024px) and (max-width: 1440px) {
  .menu__dessert--card1 {
    grid-template-columns: 50% 45% 0;
    width: 100%;
  }
}
.menu__dessert--trimming {
  width: 294px;
}
.menu__dessert--price {
  width: 5px;
}
.menu__dessert--card2 {
  margin-bottom: 1rem;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: repeat(2, 1.188rem);
  padding: 1rem;
  padding-right: 0;
  align-items: center;
  border-radius: 1rem;
  background-color: white;
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.13);
  overflow: hidden;
  cursor: pointer;
}
@media (max-width: 768px) and (max-width: 1023px) {
  .menu__dessert--card2 {
    grid-template-columns: 2fr 4.5rem 0rem;
  }
}
@media (min-width: 321px) and (max-width: 767px) {
  .menu__dessert--card2 {
    grid-template-columns: 50% 45% 0;
    width: 100%;
  }
}
@media (min-width: 1024px) and (max-width: 1440px) {
  .menu__dessert--card2 {
    grid-template-columns: 50% 45% 0;
    width: 100%;
  }
}
.menu__dessert--card3 {
  padding-right: 0;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: repeat(2, 1.188rem);
  padding: 1rem;
  padding-right: 0;
  align-items: center;
  border-radius: 1rem;
  background-color: white;
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.13);
  overflow: hidden;
  cursor: pointer;
}
@media (max-width: 768px) and (max-width: 1023px) {
  .menu__dessert--card3 {
    grid-template-columns: 2fr 4.5rem 0rem;
  }
}
@media (min-width: 321px) and (max-width: 767px) {
  .menu__dessert--card3 {
    grid-template-columns: 50% 45% 0;
    width: 100%;
  }
}
@media (min-width: 1024px) and (max-width: 1440px) {
  .menu__dessert--card3 {
    grid-template-columns: 50% 45% 0;
    width: 100%;
  }
}
.menu .order--note {
  grid-column: 2/3;
  grid-row: 4/5;
  margin-top: 0;
}
@media (max-width: 320px) {
  .menu .order--note {
    margin-top: 2rem;
    width: 10rem;
    margin-right: 6rem;
    grid-column: 1/2;
    grid-row: 7/8;
  }
}
@media (max-width: 375px) {
  .menu .order--note {
    margin-top: 2rem;
    grid-column: 1/2;
    grid-row: 7/8;
  }
}
@media (max-width: 425px) {
  .menu .order--note {
    margin-top: 2rem;
    grid-column: 1/2;
    grid-row: 7/8;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .menu .order--note {
    grid-column: 1/2;
    grid-row: 7/8;
    margin-top: 2.5rem;
  }
}
@media (min-width: 1024px) and (max-width: 1440px) {
  .menu .order--note {
    margin-top: 0.5rem;
    grid-column: 2/3;
    grid-row: 5/6;
  }
}

.menu__card {
  overflow: hidden;
}
.menu__card:hover > .menu__card--slide {
  margin-left: -1rem;
}
.menu__card:hover > .menu__card--slide .fa-circle-check {
  transform: rotate(-360deg);
}
@media (max-width: 320px) {
  .menu__card:hover > .menu__card--slide {
    margin-left: -2rem;
  }
}
@media (min-width: 321px) and (max-width: 425px) {
  .menu__card:hover > .menu__card--slide {
    margin-left: -3.5rem;
    padding-right: 3.5rem;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .menu__card:hover > .menu__card--slide {
    margin-left: -4.5rem;
  }
}
@media (min-width: 1024px) and (max-width: 1440px) {
  .menu__card:hover > .menu__card--slide {
    margin-left: -3.5rem;
  }
}
.menu__card:hover > .menu__card--price {
  margin-left: 1rem;
  padding-right: 0.5rem;
}
@media (max-width: 320px) {
  .menu__card:hover > .menu__card--price {
    margin-left: -3rem;
  }
}
@media (min-width: 321px) and (max-width: 425px) {
  .menu__card:hover > .menu__card--price {
    margin-left: 3rem;
  }
}
@media (min-width: 426px) and (max-width: 767px) {
  .menu__card:hover > .menu__card--price {
    margin-left: 4rem;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .menu__card:hover > .menu__card--price {
    margin-left: -4rem;
  }
}
@media (min-width: 1024px) and (max-width: 1440px) {
  .menu__card:hover > .menu__card--price {
    margin-left: -0.7rem;
  }
}
.menu__card:hover > .menu__card--trimming {
  width: 15.5rem;
}
@media (max-width: 320px) {
  .menu__card:hover > .menu__card--trimming {
    width: 8rem;
  }
}
@media (max-width: 375px) {
  .menu__card:hover > .menu__card--trimming {
    width: 7rem;
  }
}
@media (max-width: 1024px) {
  .menu__card:hover > .menu__card--trimming {
    width: 8rem;
  }
}
@media (max-width: 1440px) {
  .menu__card:hover > .menu__card--trimming {
    width: 8rem;
  }
}
@media (max-width: 320px) {
  .menu__card:hover > .menu__card--title {
    width: 8rem;
  }
}
@media (max-width: 375px) {
  .menu__card:hover > .menu__card--title {
    width: 7rem;
  }
}
.menu__card--title {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  transition: 500ms;
}
.menu__card--trimming {
  grid-column: 1/2;
  grid-row: 2/3;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  transition: 500ms;
}
.menu__card--price {
  grid-column: 2/3;
  grid-row: 2/3;
  width: 60px;
  margin-left: 75%;
  transition: 500ms;
}
@media (max-width: 320px) {
  .menu__card--price {
    margin-left: 75%;
  }
}
@media (min-width: 1024px) and (max-width: 1440px) {
  .menu__card--price {
    margin-left: 75%;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .menu__card--price {
    margin-left: 1rem;
  }
}
@media (min-width: 1024px) and (max-width: 1440px) {
  .menu__card--price {
    grid-column: 3/4;
    grid-row: 2/3;
  }
}
.menu__card--slide {
  grid-column: 3/4;
  grid-row: 1/3;
  background-color: #99E2D0;
  padding: 1.5rem;
  border-radius: 0 1rem 1rem 0;
  transition: 500ms;
  height: 4.5rem;
  margin-left: 5.5rem;
}
@media (max-width: 320px) {
  .menu__card--slide {
    margin-left: 2.5rem;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .menu__card--slide {
    margin-left: 0rem;
    grid-column: 3/4;
  }
}
@media (min-width: 1024px) and (max-width: 1440px) {
  .menu__card--slide {
    grid-column: 5/6;
  }
}
.menu__card .fa-circle-check {
  color: white;
  background-color: #99E2D0;
  border-radius: 75%;
  border: none;
  font-size: 1.8rem;
  transform: rotate(0);
  transition: transform 500ms;
}

.menu__card {
  animation: wave 1002ms backwards ease-in-out alternate;
}
.menu__card--1 {
  animation-delay: 66.6666666667ms;
}
.menu__card--2 {
  animation-delay: 133.3333333333ms;
}
.menu__card--3 {
  animation-delay: 200ms;
}
.menu__card--4 {
  animation-delay: 266.6666666667ms;
}
.menu__card--5 {
  animation-delay: 333.3333333333ms;
}
.menu__card--6 {
  animation-delay: 400ms;
}
.menu__card--7 {
  animation-delay: 466.6666666667ms;
}
.menu__card--8 {
  animation-delay: 533.3333333333ms;
}
.menu__card--9 {
  animation-delay: 600ms;
}

/*# sourceMappingURL=style.css.map */
